In [96]:
# Matthew L. Pergolski | IST 652 | LAB 1

# LAB PROBLEMS
# ONE:
# For the NBAfile.py program, for each line, create a string using string formatting that puts the team, attendance, and ticket prices into a formatted string. Each line should look something like:
# ‘The attendance at Atlanta was 13993 and the ticket price was $20.06’
# Your program should then print these strings instead of the lines. Submit your code and the
# output of your program. Submit assignment as a .txt, .py, .pdf, or jupyter notebook file. DUE 24 hours before the live session in Week 3.

import pandas as pd
import pandas as np

In [97]:
data = pd.read_csv('/Users/pergolicious/Library/CloudStorage/OneDrive-SyracuseUniversity/Syracuse University/Courses/IST 652/Untitled.txt', sep=" ", header=None)
data.rename(columns = {0:'Team',1:'Attendance',2:'Cost'}, inplace = True)
data = data.fillna(0)
data

            Team  Attendance   Cost
0        Atlanta     13993.0  20.06
1         Boston     14916.0  22.54
2      Charlotte     23901.0  17.00
3        Chicago     18404.0  21.98
4      Cleveland     16969.0  19.63
5         Dallas     16868.0  17.05
6         Denver     12668.0  17.40
7        Detroit     21454.0  24.42
8   Golden_State     15025.0  17.04
9        Houston     15846.0  17.56
10       Indiana     12885.0  13.77
11   LA_Clippers     11869.0  21.95
12     LA_Lakers     17378.0  29.18
13         Miami     15008.0  17.60
14     Milwaukee     16088.0  14.08
15     Minnesota         0.0   0.00

In [98]:
# statement = "The attendance in " + data['Team'].astype(str) + " was " + round(data['Attendance']).astype(str) + "and the price was $" + data['Cost'].astype(str)
# statement = statement.to_frame('Lab 1 Statement')
# statement

In [99]:
for index, row in data.iterrows():
    print(f"The attendance in {data.Team.iloc[index]} was {round(data.Attendance.iloc[index])} and the ticket price was ${data.Cost.iloc[index]}")

The attendance in Atlanta was 13993 and the ticket price was $20.06
The attendance in Boston was 14916 and the ticket price was $22.54
The attendance in Charlotte was 23901 and the ticket price was $17.0
The attendance in Chicago was 18404 and the ticket price was $21.98
The attendance in Cleveland was 16969 and the ticket price was $19.63
The attendance in Dallas was 16868 and the ticket price was $17.05
The attendance in Denver was 12668 and the ticket price was $17.4
The attendance in Detroit was 21454 and the ticket price was $24.42
The attendance in Golden_State was 15025 and the ticket price was $17.04
The attendance in Houston was 15846 and the ticket price was $17.56
The attendance in Indiana was 12885 and the ticket price was $13.77
The attendance in LA_Clippers was 11869 and the ticket price was $21.95
The attendance in LA_Lakers was 17378 and the ticket price was $29.18
The attendance in Miami was 15008 and the ticket price was $17.6
The attendance in Milwaukee was 16088 and the ticket price was $14.08
The attendance in Minnesota was 0 and the ticket price was $0.0